*, *:before, *:after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    height:100%;
    width:100%;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.theconversation.com/files/306575/original/file-20191212-85367-1uu5emz.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip");
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    width: 750px;
    height: 750px;
    position: relative;
    opacity: 0.9;
}

.service{
    background-color: aliceblue;
    width: 70%;
    min-height: 50%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: grid;
    border-radius: 20px;
    border-style: outside;
    align-items:center;
    justify-content: center;
    box-shadow: 1px 5px 15px 1px grey, 1px 15px 20px 1px grey;
    box-sizing: border-box;
    transition: transform 230ms;
   
}



h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    color:cornflowerblue;
    text-align: center;
}

article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:cornflowerblue;
    text-align: center;

}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

img:hover {
    box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
}
    
.service:nth-last-child(n+4){
    --y:calc(-50% - 40px);
    transform: translate(-50%, var(--y)) scale(0.90);
}


.service:nth-last-child(3){
    --y:calc(-50% - 20px);
    transform: translate(-50%, var(--y))scale(0.95);
}
.service:nth-last-child(2){
    --y:calc(-50%);
    transform: translate(-50%, var(--y)) scale(1.00);
}
.service:nth-last-child(1){
    --y:calc(-50% + 20px);
    transform: translate(-50%, var(--y))scale(1.05);
}



@keyframe change{
    50%{
        transform: translate(-50%, calc(var(--y) - 240px)) scale(0.85) rotate(-7deg);
        animation-timing-function: ease-in; 

        transform: translate(-50%, calc(var(--y) -18px)) scale (0.85);
        z-index: -1;
    }
}